* {
    transition: background-color 0.3s ease;
}

.hidden {
    display: none !important;
}

input[type="radio"] {
    appearance: none;
}

/* HELP */

.help-hidden #help {
    display: none !important;
}

/* FOCUS */

.focus {
    box-shadow: 0 0 0 0.25rem rgba(13,110,253, .5);
    border-color: #0d6efd;
    outline: 0;
}

.btn:not(.active):focus-visible {
    background-color: rgba(13, 110, 253, 0.5);
}

/* SPINNERS */

.number-input {
    text-align: center;
    position: relative;
    -moz-appearance: textfield;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* DARK MODE */

html[data-bs-theme="dark"] .btn-outline-primary {
    --bs-btn-color: #7db2ff;
}

label[for="darkModeCheck"] {
    height: 3rem;
    width: fit-content;
    --bs-border-radius: 1.5rem;
    margin: auto;
    margin-inline: 0.5rem;
}

#check {
    width: 50%;
    border-start-start-radius: inherit;
    border-end-start-radius: inherit;
    left: 0;
    transition: left 0.3s ease, border-radius 0.3s ease;
}

#darkModeCheck:checked + #check {
    left: 50%;
    border-radius: unset;
    border-start-end-radius: inherit;
    border-end-end-radius: inherit;
}

@media screen and (min-width: 576px) {
    label[for="darkModeCheck"] {
        margin-inline: auto;
    }
}