{% extends "base.html" %}
{% block title %}Graph - {{ name }}{% endblock %}
{% block content %}
<a href="/">Upload new file</a>
<canvas id="chart" width="500" height="500"></canvas>
<script>
    const cache = [];
    const factorial = (x) => {
        if (x === 0) {
            return 1;
        }
        if (cache[x] !== undefined) {
            return cache[x];
        }
        cache[x] = x * factorial(x - 1, cache);
        return cache[x];
    }
    const ctx = $('#chart')[0].getContext('2d');
    const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
            datasets: [
                 {
                    label: 'Data',
                    data: {{ values | safe }},
                    fill: true,
                    borderColor: 'red',
                },
                {
                    label: 'Normal Curve',
                    function: (x) => Math.exp(-0.5*Math.pow(x, 2))/(Math.sqrt(2*Math.PI)),
                    data: [],
                    fill: false,
                    borderColor: 'blue',
                    lineTension: .35,
                },
                {
                    label: 'Poisson Curve (lambda = 0.5)',
                    function: (x) => {
                        if (x < 0 || x != Math.floor(x)) return NaN;
                        lambda = 0.8;
                        return (Math.exp(-lambda)*Math.pow(lambda,x))/factorial(x);
                    },
                    data: [],
                    fill: false,
                    borderColor: 'green',
                    lineTension: .35,
                },
            ],
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                },
            },
        },
    });
</script>
{% endblock %}